doctype html
html
  head
    title= "Coding Challenge"
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    style(type="text/css").
      @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    link(href='styles.css', rel='stylesheet')
  body
    .main(ng-app="app" ui-view)
    script(type="text/javascript", src="vendor.js")
    script(type="text/javascript", src="scripts.js")